# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Source Code and Assets
src
public

# Build Artifacts
dist-ssr

# Temporary Files and Backups
*.local

# Common Configuration Files
index.html
package-lock.json  # Keep for dependency management (important!)
postcss.config.js
README.md
tailwind.config.js
vite.config.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json  # Keep to manage VS Code extensions
.idea
.env  # Exclude, consider adding a non-committed .env.example for reference
.eslintrc.cjs
.gitignore
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?  # Service worker files

# Testing Files
__tests__/__snapshots__  # Adjust for your testing framework's naming conventions