.form-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.liner {
    background: linear-gradient(90deg, rgba(239,231,249,1) 0%, rgba(253,253,253,0.09576330532212884) 48%, rgba(247,242,227,1) 100%);
}

.search {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.route-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}